<div class="navigation-wrapper-copy-copy-copy-copy">
    <a href="{{ links.2f }}" aria-current="page" class="logo hi w-inline-block w--current">{%- image images.-66f495c8.url, images.-66f495c8.alt, '[]', 'class="image-115"' -%}</a>
    <div class="button-menu">
      <div class="menu-1 news"></div>
      <div class="menu-2 news"></div>
    </div>
  </div>