<div class="navigation-wrapper-copy-copy-copy-copy">
    <a href="{{ links.2f }}" class="logo-copy w-inline-block">{%- image images.-66f495c8.url, images.-66f495c8.alt, '[]', 'class="image-115"' -%}</a>
    <div class="button-menu">
      <div class="menu-1"></div>
      <div class="menu-2"></div>
    </div>
  </div>